I started by downloading a subset of Wikidata containing only the items with  a linked website. 

This was done via https://tools.wmflabs.org/wdumps/#  filtering for items with the property P856.

https://tools.wmflabs.org/wdumps/dump/470


This dataset contains 60 million triples and 1.1 million entities, which is already 1/80th of the size of Wikidata.

The file size is a bit shy of 1 Gb and can be found here too: https://sandbox.zenodo.org/record/642035#.XvqLTnVKg5k

In [1]:
import pandas as pd


sites = pd.read_csv("sites-sample for tiago.csv")

While I don't get the full dump, I will try an work around. 

I will search Wikidata with SPARQL for the first URL.

Then I will get the "P31" value of the item. 

Next, I will try SPARQL queries only for instances of that value, which reduces the search universe.

In [11]:
sites["name"][0]

'youtube.com'

This is the online query for youTube: https://w.wiki/Vdd

In [12]:
sites["name"][1]

'tmall.com'

This is the online query for tmall.com: https://w.wiki/Vdj

As they are both instances of websites, let's search the database just for those values. 


I got all instances of websites on Wikidata which contain an "official website" property. 

There are 8779 different website - domain pairs on Wikidata. This is the query for them: https://w.wiki/Vdm

In [13]:
websites_on_wikidata = pd.read_csv("websites_on_wikidata.csv")

In [14]:
websites_on_wikidata.head(3)

,item,itemLabel,website
0,http://www.wikidata.org/entity/Q510954,Pearltrees,https://pearltrees.com/
1,http://www.wikidata.org/entity/Q510968,PureMédias,http://www.ozap.com/
2,http://www.wikidata.org/entity/Q513307,Alibaba.com,https://www.alibaba.com

Now we have trim the "website" colum, as we do not need the parts before or after the actual domain name.

In [15]:
def strip_out_domain_name(url):
    try:
        clean_name = url.split('/')[2]
        try:
            clean_name =   clean_name.split('www.')[1]
            return(clean_name)
        except:
            return clean_name
    except:
        return(url)

websites_on_wikidata["clean_website"] = [strip_out_domain_name(url) for url  in websites_on_wikidata["website"]]

In [16]:
["website"]

['website']

In [17]:
sites_after_merge = sites.merge(websites_on_wikidata, left_on="name", right_on="clean_website", how="left")
sites_after_merge.head(1)

,name,item,itemLabel,website,clean_website
0,youtube.com,http://www.wikidata.org/entity/Q866,YouTube,https://www.youtube.com,youtube.com

Now let's see how many of those domains have at least one associated item on Wikidata:

In [18]:
len(set(sites_after_merge.dropna()["name"]))

218

218 is not bad. That is already ~1/5th of the domains in the list. Lets find, then, the first exception.

If it is not a website, what is it, then?

In [19]:
sites_after_merge[sites_after_merge['item'].isnull()].head(10)

               name item itemLabel website clean_website
7         baidu.com  NaN       NaN     NaN           NaN
9      facebook.com  NaN       NaN     NaN           NaN
10  login.tmall.com  NaN       NaN     NaN           NaN
12    wikipedia.org  NaN       NaN     NaN           NaN
14           360.cn  NaN       NaN     NaN           NaN
15           jd.com  NaN       NaN     NaN           NaN
16          zoom.us  NaN       NaN     NaN           NaN
18      sina.com.cn  NaN       NaN     NaN           NaN
20  pages.tmall.com  NaN       NaN     NaN           NaN
23      netflix.com  NaN       NaN     NaN           NaN

So, now let's look for baidu.com on Wikidata SPARQL: https://w.wiki/Vdo 

Instance of web search engine; business and enterprise. But I would guess that there are a few too many businesses and enterprises on wikidata.

Facebook: 
social networking service & data collection system: https://w.wiki/Vdp

login.tmall.com:
Not found. Maybe it should link to tmall?

360.cn: https://w.wiki/Vds

instance of a business

jd.com:https://w.wiki/Vdu

instance of a public company

zoom.us: https://w.wiki/Vdw

instance of public company


# - 

There seem to be many instances of public companies. Let's search for those.

In [20]:

public_companies_on_wikidata = pd.read_csv("public_companies_on_wikidata.csv")
public_companies_on_wikidata["clean_website"] = [strip_out_domain_name(url) for url  in public_companies_on_wikidata["website"]]

In [24]:
sites_w_companies = sites.merge(public_companies_on_wikidata, left_on="name", right_on="clean_website", how="left")
len(set(sites_w_companies.dropna()["name"]))

11

Only eleven. But these iterative, sequential searches may be alternatives for acelarating database query. 
I will have to explore it further.

For now, we have:

In [29]:
partial_result = sites_after_merge[["name", "item"]].dropna().append(sites_w_companies.dropna()[["name", "item"]])

In [30]:
partial_result.to_csv("partial_domain_to_wikidata_item.csv")